{{- $year := .Date.Format "2006" }}
{{- $isLeapYear := (modBool .Date.Year 4)}}
{{- $month := .Date.Month }}
{{- $daysPerMonth := dict "January" (seq 31) "February" (seq 28) "2-leap" (seq 29) "March" (seq 31) "April" (seq 30) "May" (seq 31) "June" (seq 30) "July" (seq 31) "August" (seq 31) "September" (seq 30) "October" (seq 31) "November" (seq 30) "December" (seq 31) }}
{{- $daysPerWeekMap := dict "Mon" 0 "Tue" 1 "Wed" 2 "Thu" 3 "Fri" 4 "Sat" 5 "Sun" 6 }}
{{- $daysPerWeek := slice "Mon" "Tue" "Wed" "Thu" "Fri" "Sat" "Sun" }}
{{- $.Scratch.Set "daysThisMonth" (index $daysPerMonth (string $month)) }}
{{- if and $isLeapYear (eq $month "February") }}
    {{- $.Scratch.Set "daysThisMonth" (index $daysPerMonth "2-leap") }}
{{- end }}
{{- $daysThisMonth := $.Scratch.Get "daysThisMonth" }}
{{- $monthTwoLetters := printf "%02d" $month }}
{{- $firstWeekdayInLetters := dateFormat "Mon" (string (delimit (slice $year "-" $monthTwoLetters "-01") ""))  }}
{{- $firstWeekdayInNumbers := index $daysPerWeekMap $firstWeekdayInLetters }}
{{- $firstWeekdayMondayOffset := (sub (add $firstWeekdayInNumbers 6) 6) }}
{{- $todayDate := $.Params.Date -}}
{{- $nextMonth := $.Params.Date.AddDate 0 1 0 }}
{{- $lastMonth := $.Params.Date.AddDate 0 -1 0 }}






<div id="ceo_calendar_widget-2" class="widget ceo_calendar_widget">
    <div class="widget-content">
                <div id="wp-calendar-head"></div>
                <div id="wp-calendar-wrap">
                                <table id="wp-calendar" summary="Calendar">
        <caption>{{ .Date.Format "January 2006" }}</caption>
        <thead>
        <tr>
            <th scope="col" title="Monday">M</th>
            <th scope="col" title="Tuesday">T</th>
            <th scope="col" title="Wednesday">W</th>
            <th scope="col" title="Thursday">T</th>
            <th scope="col" title="Friday">F</th>
            <th scope="col" title="Saturday">S</th>
            <th scope="col" title="Sunday">S</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3" id="prev">
                {{- if not (eq .PrevInSection nil) }}
                {{- range first 1 (where (where (where site.Pages "Section" "comic") ".Date.Year" "==" $lastMonth.Year) ".Date.Month" "==" $lastMonth.Month) }}
                <a href="{{ .Permalink }}">&laquo; {{ $lastMonth.Format "Jan" }}</a>
                {{- end }}
                {{- end }}
            </td>
            <td class="pad">&nbsp;</td>
            <td colspan="3" id="next" class="pad">
                {{- if not (eq .NextInSection nil) }}
                {{- range last 1 (where (where (where site.Pages "Section" "comic") ".Date.Year" "==" $nextMonth.Year) ".Date.Month" "==" $nextMonth.Month) }}
                <a href="{{ .Permalink }}">{{ $nextMonth.Format "Jan" }} &raquo;</a>
                {{- end }}
                {{- end }}
            </td>
        </tr>
        </tfoot>
    
        <tbody>
        <tr>
            {{- if gt $firstWeekdayMondayOffset 0 }}
                <td colspan="{{ $firstWeekdayMondayOffset }}" class="pad">&nbsp;</td>
            {{- end }}
            {{- range $dayofMonth := index $daysPerMonth (string $month) -}}
            <td>
                {{- range where site.Pages "Section" "comic" }}
                    {{- if eq (string .Date.Year) $year }}
                        {{- if eq .Date.Month $month }}
                        {{- if eq .Date.Day $dayofMonth }}
                        {{- if eq .Date $todayDate }}
                        <b><div style="color: #ffffff">
                        {{- else }}
                        <a href="{{ .Permalink }}">
                        {{- end }}
                        {{- end }}
                        {{- end }}
                    {{- end}}        
                {{- end}}

                    {{- $dayofMonth -}}
                    {{- range where site.Pages "Section" "comic" }}
                    {{- if eq (string .Date.Year) $year }}
                        {{- if eq .Date.Month $month }}
                        {{- if eq .Date.Day $dayofMonth }}
                        {{- if eq .Date $todayDate }}
                        </b></div>
                        {{- else }}
                        </a>
                        {{- end }}        
                        {{- end }}
                        {{- end }}
                    {{- end}}        
                {{- end}}
            </td>
            {{- if eq (mod (add $dayofMonth $firstWeekdayMondayOffset) 7) 0}}
            </tr>
            <tr>
            {{- end }}
            {{- end }}
            <td class="pad" colspan="{{ mod (sub (add $firstWeekdayMondayOffset (len $daysThisMonth)) 1) 7 }}">&nbsp;</td>
        </tr>
        Test
        </tbody>
        </table>			</div>
                <div id="wp-calendar-foot"></div>
            </div>
    <div class="clear"></div>
    </div>