<div class="widget-content">
<h2 class="widget-title">Comic Chapters</h2>
<form method="get" class="comic-archive-dropdown-form"><select onchange="document.location.href=this.options[this.selectedIndex].value;">
	<option class="level-select" value="">Select Chapter</option>
	<option class="level-0" value="/chapters/comic/">Comic</option>
	<option class="level-0" value="/chapters/extras/">Extras</option>
	<option class="level-0" value="/chapters/chapter-1-despair/">Chapter 1: Despair</option>
	<option class="level-0" value="/chapters/chapter-2-doubt/">Chapter 2: Doubt</option>
	<option class="level-0" value="/chapters/chapter-3-violence/">Chapter 3: Violence</option>
	<option class="level-0" value="/chapters/chapter-4-hatred/">Chapter 4: Hatred</option>
	<option class="level-0" value="/chapters/chapter-5-fear/">Chapter 5: Fear</option>
	<option class="level-0" value="/chapters/chapter-6-anger/">Chapter 6: Anger</option>
	<option class="level-0" value="/chapters/chapter-7-pride/">Chapter 7: Pride</option>
	<option class="level-0" value="/chapters/chapter-8-epilogue/">Chapter 8: Epilogue</option>
	<option class="level-0" value="/chapters/postscript/">Postscript</option>
</select>
<noscript><div><input type="submit" value="View"/></div></noscript></form></div>