{{- if and .Site.Params.staticman (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
    <section id="comments">
        {{- if .Site.Params.staticman }}
        {{- partial "comment-count.html" . }}
        {{- $comments := readDir "data/comments" }}
        {{- $postSlug := .File.ContentBaseName }}
        <div id="comment-wrapper">
         <h4 id="comments">Discussion ({{- .Scratch.Get "hasComments" }}) ¬</h4>
        <section class="staticman-comments post-comments">
            <ol class="commentlist">
        {{- range $comments }}
            {{- if eq .Name $postSlug }}                
                {{- range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
                    {{- if and (not .reply_to) (.comment)  }}
                    <li id="commentid-{{- ._id }}" class="comment even thread-even depth-1">
                        <div class="comment-avatar">
                        <img title="{{- .name }}" alt="" src="https://www.gravatar.com/avatar/{{-     .email }}?s=128&r=pg&d=mp" class="avatar avatar-64 photo instant nocorner itxtalt" height="64" width="64"></div>
                        <div class="comment-content">
                            <div class="comment-author vcard">
                            {{- if not (eq .website "") }}
                            <cite title="{{- .website }}"><a href="{{- .website }}" title="{{- .name }}" class="external nofollow">{{- .name }}</a></cite>
                            {{- else }}
                            <cite>{{- .name }}</cite>		
                            {{- end }}
                            </div>
                            <div class="comment-meta-data">
                                <span class="comment-time">
                                    {{- .date | time.Format ":date_long"}}, {{ .date | time.Format ":time_short" }}				</span>
                    
                                    <span class="comment-permalink">
                                        <span class="separator">|</span> <a href="#commentid-{{- ._id }}" title="Permalink to comment">#</a>
                                    </span>
                    
                                    <span class="comment-reply-link">
                                        <span class="separator">|</span>
                                        <a rel="nofollow" class="comment-reply-link" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{- ._id }}', '{{- .name }}')">Reply</a></span>	
                    
                                    </div>
                    
                                    <div class="comment-text">
                            <p>{{- .comment | markdownify }}</p>
                        </div>
                                            
                    </div>
                    
                    <div class="clear"></div>

                    {{- $active_replies := (slice "000") }}
                    {{- $comparator := ._id }}
                    {{- range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
                        {{- if eq .reply_to $comparator }}
                            {{- $active_replies = $active_replies | append ._id }}
                        {{- end}}
                    {{- end }}
                    {{- $active_replies = $active_replies | symdiff (slice "000") }}
                    {{- .Scratch.Set "commentDepth" 1 }}
                    {{- if not (eq (len $active_replies) 0) }}
                        <ul class="children">
                        {{- partial "comment-replies" (dict "postId" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "activeReplies" $active_replies "context" .) }}
                        </ul>
                    {{- end }}
                    </li>
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
</ol>

    </section>
    {{- if not $.Params.noreply }}
    {{- partial "post-comment.html" . }}
    {{- end }}
    {{- end }}
</section>

{{- end }}