<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
    <title>{{- .Title }} &#8211; From Draenor With Love</title>
    <link rel="stylesheet" id="comiceasel-style-css" href="/css/comiceasel.css?ver=4.6.12" type="text/css" media="all"/>
    <!--Customizer CSS--> 
    <style type="text/css">
    .comic-nav a:link, .comic-nav a:visited { color: #FFFFFF!important; } .comic-nav a:hover { color: #F00!important; } 
    </style>
    <!--/Customizer CSS-->
          <style type="text/css">
        #header { width: 980px; height: 120px; background: url('/images/header122.png') top center no-repeat; overflow: hidden; }
        #header h1 { padding: 0; }
        #header h1 a { display: block; width: 980px; height: 120px; text-indent: -9999px; }
        .header-info, .header-info h1 a { padding: 0; }
    </style>
        <style type="text/css" id="custom-background-css">
    body.custom-background { background-image: url('/images/bground052.jpg'); background-repeat: no-repeat; background-position: top center; background-attachment: fixed; }
    </style>
    </head>
    <body class="archive tax-chapters custom-background layout-3c scheme-none">
        <div id="content">
        
<div id="page-wrap">
	<div id="page">
		<div id="header">
			<div class="header-info">
				<h1><a href="http://fromdraenor.ca/">From Draenor With Love</a></h1>
				<div class="description"></div>
			</div>
						<div class="clear"></div>
		</div>

		<div id="menubar-wrapper">
			<div class="menu-container">
								<div class="menu"><ul><li class="page_item page-item-22"><a href="/about-us/">About</a></li><li class="page_item page-item-72"><a href="/characters/">Characters</a></li><li class="page_item page-item-119"><a href="/contact-us/">Contact Us</a></li><li class="page_item page-item-2105"><a href="/patreon/">Patreon</a></li></ul></div>
<div class="mininav-wrapper">
<span class="mininav-prev">
	{{- if not (eq .PrevInSection nil) }}
	{{- with .PrevInSection }}
        <a href="{{- .Permalink }}">&lsaquo;</a>
    {{- end }}
	{{- end }}
</span>
<span class="mininav-next">
		{{- if not (eq .NextInSection nil) }}
		{{- with .NextInSection }}
			<a href="{{- .Permalink }}">&rsaquo;</a>
		{{- end }}
		{{- end }}
</span>

</div>
				<div class="menunav">
					<a href="/what-is-this/" title="What is this?" class="menunav-rss">What is this?</a>
														</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	<div id="content-wrapper">

	<div id="subcontent-wrapper">
<div id="sidebar-left">
    <div class="sidebar">
    <div id="ceo_thumbnail_widget-5" class="widget ceo_thumbnail_widget">
<div class="widget-content">
<h2 class="widget-title">To get caught up on the story, start here!</h2>
<div class="comic-thumb-wrap comic-thumb-1372"><a href="/comic/chapter-one-despair/" rel="bookmark" title="Permanent Link to Chapter One: Despair"><img width="150" height="150" src="/images/130911_fd001-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="130911_fd001"/></a>
<div class="comic-thumb-title"><a href="/comic/chapter-one-despair/" rel="bookmark" title="Permanent Link to Chapter One: Despair">Chapter One: Despair</a></div><div class="clear"></div></div>
</div>
<div class="clear"></div>
</div>
<div id="ceo_thumbnail_widget-6" class="widget ceo_thumbnail_widget">
<div class="widget-content">
<h2 class="widget-title">Latest Comics</h2>
<div class="comic-thumb-wrap comic-thumb-2601"><a href="/comic/reflections-part-three/" rel="bookmark" title="Permanent Link to Reflections, Part Three"><img width="150" height="150" src="/images/fd131-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="fd131"/></a>
<div class="comic-thumb-title"><a href="/comic/reflections-part-three/" rel="bookmark" title="Permanent Link to Reflections, Part Three">Reflections, Part Three</a></div><div class="clear"></div></div>
<div class="comic-thumb-wrap comic-thumb-2597"><a href="/comic/reflections-part-two/" rel="bookmark" title="Permanent Link to Reflections, Part Two"><img width="150" height="150" src="/images/fd130a-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="fd130a"/></a>
<div class="comic-thumb-title"><a href="/comic/reflections-part-two/" rel="bookmark" title="Permanent Link to Reflections, Part Two">Reflections, Part Two</a></div><div class="clear"></div></div>
<div class="comic-thumb-wrap comic-thumb-2591"><a href="/comic/reflections-part-one/" rel="bookmark" title="Permanent Link to Reflections, Part One"><img width="150" height="150" src="/images/fd129-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="fd129"/></a>
<div class="comic-thumb-title"><a href="/comic/reflections-part-one/" rel="bookmark" title="Permanent Link to Reflections, Part One">Reflections, Part One</a></div><div class="clear"></div></div>
</div>
<div class="clear"></div>
</div>
    </div>
</div>
		<div id="content-column">
						<div id="content" class="narrowcolumn">
				<div id="post-2606" class="post-2606 comic type-comic status-publish has-post-thumbnail hentry chapters-chapter-8-epilogue uentry postonpage-1 odd post-author-{{- lower .Params.author }}">
	<div class="post-content">
		
		<div class="post-info">
			<h2 class="post-title"><a href="{{- .Permalink }}">Archive of tag {{ .Title }}</a></h2>
			<div class="post-text">
			

</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="entry">
		{{- if not (eq .Title "Chapters") }}
			<table>
					{{- $pageData := .Pages }}
					{{- $scratch := newScratch }}
					{{- $scratch.Set "counter" 0 }}
					{{- range $pageData.Reverse }}
					{{- $scratch.Add "counter" 1 }}
					{{- if eq ($scratch.Get "counter") 1 }}
						<tr>
					{{- end }}
							<td><a href="{{ .Permalink}}"><img src="/images/thumbnails/{{ .Params.comic }}" /></a><br />{{- .Date | time.Format ":date_long" }}<br />{{ .LinkTitle }}<br /><br /></td>
					{{- if eq ($scratch.Get "counter") 3 }}
						</tr>
					{{- $scratch.Set "counter" 0 }}
					{{- end }}
					{{- end }}
				</table>
			{{- else }}
				{{- $pageData := .Pages }}
				<ul>
				{{- range $pageData.Reverse }}
					<li><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
				{{- end }}
				</ul>
			{{- end }}

			<div class="clear"></div>
		</div>
		<div class="post-extras">
			<div class="post-tags"></div>
			{{- if not .Params.disable_comments }}
			<div class="comment-link">
				<a href="#comments"><span class="comment-balloon"> #numComment </span> Comments</a>			</div>
			{{- end }}
						<div class="clear"></div>
		</div>
			</div>
</div>
<div id="blogheader"></div>										
							</div>
		</div>
<div id="sidebar-right">
    <div class="sidebar">
{{- partial "calendar.html" .}}
<div id="ceo_comic_archive_dropdown_widget-2" class="widget ceo_comic_archive_dropdown_widget">
{{- partial "chapters.html" . }}
<div class="clear"></div>
</div>
    </div>
</div>		<div class="clear"></div>
	</div>
</div>
{{- partial "footer.html" . }}
		
</div> <!-- / #page-wrap -->
        </div>
    </body>
</html>
